.layout-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f9fafb;
}
.layout-main {
    width: calc(100% - 300px);
    margin-left: 300px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.layout-content {
    width: 100%;
    margin-top: 4rem;
    padding: 1.5rem;
    flex-grow: 1;
}
.layout-content > *:not(:first-child) {
    margin-top: 1rem;
}